:root {
    --primary-color: #1a1a2e;
    --secondary-color: #16213e;
    --accent-color: #0f3460;
    --text-color: #e94560;
    --background-color: #0f0f0f;
    --card-background: #16213e;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  .container {
    text-align: center;
  }

  h1 {
    margin: 0;
    font-size: 3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #e94560, #0f3460);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s ease infinite;
    text-align: center;
  }

  .button {
    transition-duration: 0.4s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0f3460;
    color: white;
  }