<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Trackers - Dates</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Dates</h1>
    <ul>
        {{range .}}
        <li>
            <h2>ID: {{.ID}}</h2>
            <ul>
                {{range .Dates}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </li>
        {{end}}
    </ul>
</body>
</html>
