<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupie Tracker</title>
    <link rel="icon" href="/static/img/icon/g.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="/static/css/artists.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/"><img src="/static/img/icon/logo.png" alt="Logo"></a>
        <ul class="topnav">
          <a href="/home">Home</a>
        </ul>
      </nav>
    </header>

    <div class="main_content">
      <div class="card">
        <!-- Iterate over artists data -->
        {{range .}}
          <div class="artists">
            <a href="/artists/{{.ID}}">
              <div class="descrip">
                <h3>{{.Name}}</h3>
              </div>
              <img src="{{.Image}}" alt="{{.Name}}">
            </a>
          </div>
        {{end}}
      </div>
    </div>
  </body>
</html>
