<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groupie Tracker</title>
  <link rel="icon" href="/static/img/icon/g.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
</head>

<body>
  <div class="image_presentation">
    <div class="image-index">
      <div class="title-index">
        <h1>GROUPIE TRACKER</h1>
      </div>
      <div class="text-title-index">
        <h2>Discover, Connect, Network with Your Favorite Artist</h2>
      </div>
      <div class="box-button">
        <a class="button-index" href="/home">
          <span>View Artists</span>
        </a>
      </div>
    </div>
  </div>

  <div class="infoproject">
    <div class="API">
      <img src="/static/img/icon/Api.jpg" alt="API">
    </div>
    <div class="text">
      <h3>Groupie Tracker</h3>
      <br>
      <p>The Groupie Tracker project involves receiving a specific API and manipulating the data it contains to create a site that displays the information.</p>
    </div>
  </div>

  <div class="groupietckr">
    <div class="groupie">
      <img src="/static/img/icon/groupe.jpg" alt="Band">
    </div>
    <div class="text">
      <h3>Artists</h3>
      <br>
      <p>The website displays artists' names, images, concert locations, dates, and relationships.</p>
    </div>
  </div>

  <footer>
    <div class="footerdiv">
      <div class="team">
        <h3>Our Team:</h3>
        <p>steoiro</p>
        <p>togondol</p>
      </div>
      <div class="github-link">
        <a href="https://learn.zone01kisumu.ke/git/steoiro/groupie-tracker">
          <div><img src="/static/img/icon/github.png" width="50" height="50" alt="GitHub"></div>
        </a>
      </div>
      <div class="about-us">
        <h3>Who We Are</h3>
        <br>
        <p>Apprentice Software Developers.</p>
      </div>
    </div>
  </footer>
</body>

<script>
  const zoom = () => {
    document.body.style.zoom = "75%";
  };
</script>
</html>
