<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

    <header>
        <div class="top-nav">
            <img src="/static/images/logo.jpg" alt="Groupie Tracker Logo" class="logo">
            <h1>Groupie Tracker</h1>
            <a href="/artists.html">Featured Artists</a>
            <a href="about.html">About Us</a>
        </div>
    </header>
    <div class="container">
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search for artists or members...">
        </div>
    </div>
        <div class="content">
            <h2>We  Love  Dance  Floor</h2>
            <p>Keep up with the latest music trends</p>
        </div>
</body>
</html>
